img{
    width: 10vmin;
}

.contenedor{
    margin-top: 10px;
}

.mt{
    margin-top: 5%;
}

@media screen and (min-width: 769px) {
    .letraHeader {
        font-size: 22px;
        font-weight: 400;
    }
}