<div class="contenedor">
    <div class="centrar">
        <label type="text" class="form-control mt text-center" id="inputNoEditable" readonly>  01/01/2024</label>
    </div>
        <table class="table">
        <tbody>
            <tr>
                <td>
                    <h1 class="display-6 text-center mt">
                        Fichar asistencia
                    </h1>
                </td>
            </tr>    
            <tr>
                <td>
                    <!-- cargarlista -->
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-primary">
                        Fichar entrada
                    </button>   
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-danger">
                        Fichar salida
                    </button> 
                </td>
            </tr>
        </tbody>
    </table>
</div>
