<div class="contenedor">
    <div class="centrar">
        <label type="text" class="form-control mt text-center" id="inputNoEditable" readonly>{{fechaSistema}}</label>
    </div>

    <h1 class="display-6 text-center mt">
        Fichar asistencia
    </h1>

    <div class="lista">
        <table class="table">
            <tbody> 
                <tr *ngFor="let parte of partesUsuario">
                    <td class="text-center">
                        {{ formatearHora(parte.hora_entrada) }}  
                    </td>
                    <td class="text-center">
                        -
                    </td>
                    <td class="text-center">
                        {{ parte.hora_salida ? formatearHora(parte.hora_salida) : '' }}                      </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary mt-5" (click)="ficharEntrada()">
        Fichar entrada
    </button> 
    <button class="btn btn-danger mt-2" (click)="ficharSalida()">
        Fichar salida
    </button> 
</div>
