<div class="contenedor">
    <div class="d-flex justify-content-end">
        <button class="btn btn-light" (click)="abrirServicios()">
            Servicios
            <img src="proximo.png" alt="">
        </button>
    </div>
    <div class="centrar mt-2">
        <label type="text" class="form-control mt-3 text-center" id="inputNoEditable" readonly>{{fechaSistema}}</label>
    </div>

    <h1 class="display-6 text-center mt-5 mb-3">
        Fichar asistencia
    </h1>
    <div class="lista">
        <table class="table">
            <tbody> 
                <tr *ngFor="let parte of partesUsuario">
                    <td class="text-center">
                        {{ parte.hora_entrada }}  
                    </td>
                    <td class="text-center">
                        -
                    </td>
                    <td class="text-center">
                        {{ parte.hora_salida ? parte.hora_salida : '' }}                      
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="w btn btn-primary mt-5" (click)="ficharEntrada()">
        Fichar entrada
    </button> 
    <button class="w btn btn-danger mt-2" (click)="ficharSalida()">
        Fichar salida
    </button>
</div>
