.form-control{
    height: 30px;
    margin-bottom: 25px;
}

form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 90vh; 
    margin-left: 30px;
    margin-right: 30px;
}

.img{
    height: 150px;
    margin-bottom: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../../../../public/LogoKong.png);
}

.btn{
    width: 100%;
}